<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
    <ion-title>Añadir artículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div  id="nuevoArticuloDespensa">
		<div>
			<span>Artículo:</span> <input type="text"  [(ngModel)]="articulo.name" value="">
		</div>
		<div>
			<span>Marca:</span> <input type="text" [(ngModel)]="articulo.brand" value="">
		</div>
		<div>
			<span>Supermercado:</span> <input type="text" [(ngModel)]="articulo.supermarket" value="">
		</div>
		<div>
			<span>Precio:</span> <input type="text" [(ngModel)]="articulo.price" value="">
		</div>
		<div>
			<span>Fecha de alta:</span> <input type="date" [(ngModel)]="articulo.fecha" value="">
		</div>
		<div>
			<span>Pasillo:</span> <input type="text" [(ngModel)]="articulo.pasillo" value="">
		</div>
</div>

<div id="botones">
		<button id="cancelar" (click)="volver();">Cancelar</button>
		<button id="actualizar" (click)="nuevoArticulo();" >Actualizar</button>
	</div>
</ion-content>
