<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Editar artículo de la despensa
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
	<div *ngIf="articulo">
		<div>
			<label>Artículo:</label> <input type="text" value="{{articulo.name}}">
		</div>
		<div>
			<label>Marca:</label> <input type="text" value="{{articulo.brand}}">
		</div>
		<div>
			<label>Supermercado:</label> <input type="text" value="{{articulo.supermarket}}">
		</div>
		<div>
			<label>Precio:</label> <input type="text" value="{{articulo.price}}">
		</div>
		<div>
			<label>Fecha de alta:</label> <input type="date" value="{{articulo.price}}">
		</div>
		<div id="botones">
			<button id="cancelar" (click)="volver();">Cancelar</button>
			<button id="actualizar" >Actualizar</button>
		</div>
	</div>
<!-- Artículo:{{articulo.name}} -->
<!-- <table class="table table-striped tabla_principal" id="articulos" cellpadding="0" cellspacing="0">
	<tbody>
		<tr *ngFor="let articulo of articulosDespensa; let odd = odd" [ngClass]="{odd:odd}">
		 <td><ion-icon class="icono" name="close-circle" ></ion-icon></td>
		<td><a routerLink="/editar/{{articulo.id}}"><ion-icon class="icono" name="create" ></ion-icon></a></td>
		<td>{{ articulo.name }}</td>
	</tr>
</tbody>
</table> -->
</ion-content>
