<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Myshoplist
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
	<div id="barraPrincipal">
		<div id="formulario">
			<input type="text" id="artic" name="artic" (keyup)='checkArt($event)'>

			<!-- <button (click)='checkArt(artic.value)'>Añadir a la lista</button> -->
			<button >Añadir</button>
			<!-- <button (click)="addArticleDesp();">Añadir</button> -->

			 <div #listaArticulos *ngIf="visible" class="visible" >
						<div *ngFor="let encontrado of lista" (click)="selectArt($event);"> {{encontrado}} </div>


			</div>
		</div>
	</div>
	<div id="tablaArticulos">
		<table class="table table-striped tabla_principal" id="articulos" cellpadding="0" cellspacing="0">
			<tbody>
				<tr *ngFor="let articulo of articulos; let odd = odd" [ngClass]="{odd:odd}">
				 <td><button (click)='itemPurchased(articulo.id)'>Comprado</button></td>

				<td>{{ articulo.name }}</td>


			</tr>

		</tbody>
		</table>

		<h2>Artículos comprados</h2>
		<button (click)="deleteArt();">Eliminar comprados</button>
		<table class="table table-striped tabla_principal" id="articulosComp" cellpadding="0" cellspacing="0">
				<tbody>
					<tr *ngFor="let articulo of articulosComp; let odd = odd" [ngClass]="{odd:odd}">
						<td>{{ articulo.name }}</td>
					</tr>
			</tbody>
		</table>
	</div>


 <!-- <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, you'll want to start building out features
        and components. Check out some of the resources below for next steps.
      </p>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
